.header {
    background-color: #ffffff;
    padding: 0rem 2rem;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  }
  
  .header-container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header-logo img.logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .header-logo .app-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .header-search .search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
    font-size: 1rem;
  }
  
  .header-genre .genre-select {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
  }
  
  .header-links {
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #C0C0C0;
  }
  .header-user-profile img{
    width: 30px;
    height: 30px
  }
  .header-arrange-buttons {
    justify-content: space-between;
  }