.header {
    background-color: #ffffff;
    padding: 0rem 2rem;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  }
  
  .header-container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header-logo img.logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .header-logo .app-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .header-search .search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
    font-size: 1rem;
  }
  
  .header-genre .genre-select {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
  }
  
  .header-links {
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #C0C0C0;
  }
  .header-user-profile img{
    width: 30px;
    height: 30px
  }
  .change-theme img{
    width: 20px;
    height: 10px;
    background: transparent;
  }
  .change-theme {
   border: none;
   background: transparent;
   
  }
  .header-arrange-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .nav-link img {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .nav-link:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    background: #333;
  }

  /*---- THEME CHANGE -----*/
  
  
  body.light {
    background-color: #fff;
    color: #333;
  }

  body.dark {
    background-color: #333;
    color: #fff;
  }

  .header {
    transition: backgrounnd-color 0.4s, color 0.4s;
  }

  .change-theme {
    background-color: #ddd;
    color: #333;
  }
  .change-theme img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }


  /*--- Responsive Design ---*/
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }

    .header-logo {
      margin-bottom: 10px;
    }

    .header-search,
    .header-genre,
    .header-links {
      margin: 5px 0;
      width: 100%;
      justify-content: center;
      text-align: center;
    }
    .header-links {
      gap: 10px;
    }

    .search-input,
    .genre-select {
      max-width: 250px;
    }
  }
